form{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    /* love this box shadow because it looks so blown owt and sun bleached */
    box-shadow: inset 0 0 10px lightpink;
    margin-top: 50px;
    margin-left: 5%;
    padding: 20px;
    width: 50%;
}
form input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
}
form button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: inset 0 0 5px black;
    border: 1px solid black;
    cursor: pointer;
    
}
form button:hover{
    background-color: lightgreen;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightskyblue;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.hero{
    display: flex-column;
    justify-content: center;
    
    height: 100vh;
    background-color: lightgoldenrodyellow;
    box-shadow: inset 0 0 10px black;
}
.hero h1{
    font-size: 3rem;
    
    text-align: center;
}
.hero p{
    font-size: 1.5rem;
    text-align: center;
}
.hero button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: red;
    box-shadow: inset 0 0 5px black;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    
}
.hero button:hover{
    background-color: lightgreen;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightcoral;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}
div h2{
    font-size: 2rem;
}

main{
    background-color: lightcyan;
}
